@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, Arial, sans-serif;
}

html {
  width: 100%;
  height: 100%;
  --scrollbar-color: theme(colors.purple);
}

body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--scrollbar-color) transparent;
    scrollbar-width: thin;
  }
}
